Repository Stadt-Geschichte-Basel/stadtgeschichtebasel.ch, pull requests merged in 2024-05, with the labels that each got.

#164 fix: improve screenreader experience
  src/routes/agenda/+page.svelte
Labels: bug

#163 feat: add Data Stories to Credits
  src/routes/credits/+page.svelte
Labels: enhancement

#165 Dependabot & Updates
  .github/dependabot.yml
  .github/workflows/sveltekitci.yml
  package.json
  pnpm-lock.yaml
Labels: github

#168 Fix ci chore
  .github/workflows/sveltekitci.yml
  .npmrc
  README.md
  pnpm-lock.yaml
Labels: docs

#169 Various fixes
  .gitignore
  package.json
  pnpm-lock.yaml
  src/lib/data/archive.json
Labels: src
